{
  "presets": ["env", ["es2015", { "modules": false }], "react"],
  "env": {
    "test": {
      "modules": "esnext",
      "presets": [
        [
          "env",
          {
            "modules": "commonjs",
            "useBuiltIns": "usage",
            "debug": false
          }
        ],
        "stage-0",
        "react",
        "jest"
      ]
    }
  }
}
